# .env.example

FIREBASE_API_KEY=AIzaSyCD0_ZytkIsce9Hv_eVYen35dz7QVEu1lE
FIREBASE_AUTH_DOMAIN=mi-lab-seguridad-8afd1.firebaseapp.com
FIREBASE_DATABASE_URL=https://mi-lab-seguridad-8afd1-default-rtdb.firebaseio.com
FIREBASE_PROJECT_ID=mi-lab-seguridad-8afd1
FIREBASE_STORAGE_BUCKET=mi-lab-seguridad-8afd1.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=1002089965809
FIREBASE_APP_ID=1:1002089965809:web:5eecb4643952e0f68ca150
